.almoxarifado {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	font-family: sans-serif;
	color: #ffffff;
	padding: 20px;
}

/* the main container */
.almoxarifado article {
	width: 1000px;
	margin: 0 auto;
	background: #6cbf00;
	border: 10px solid white;
	margin-top: 80px;
	position: relative;
	padding: 30px;
	border-radius: 20px;
}

/* the small text paragraphs */
.almoxarifado article p,
article > footer {
padding-bottom: 1em;
line-height: 1.4em;
}

.almoxarifado article ul li {
	border: 1px solid white;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	font-family: courier;
}

.almoxarifado .erro {
	width: 1000px;
	margin: 0 auto;
	background: #6cbf00;
	border: 10px solid white;
	margin-top: 80px;
	position: relative;
	padding: 30px;
	border-radius: 20px;
	color: red;
}